div#page {
  overflow: hidden;
}

.banner {
  background-image: none;
  min-height: 1px !important;
}
.banner .bannerContainer {
  max-width: 100%;
  width: 100%;
  height: 100%;
}
.banner .bannerContainer video#bgcVdo {
  width: 100%;
}
.banner .bannerContainer img {
  position: fixed;
  top: 35%;
  left: 25%;
}

.oscarSection {
  display: flex;
}
.oscarSection .oscarContainer {
  display: flex;
  width: 66.66%;
  margin: auto;
}
.oscarSection .oscarContainer h3 {
  text-align: start;
  padding: 0;
  background-image: url(../assets/orange_characters_bg.png);
}
.oscarSection .oscarContainer img {
  height: 129px;
}

.story h2::before {
  position: absolute;
}
.story h2::after {
  position: absolute;
  transform-origin: 77px 77px;
}
.story .story__article::before {
  position: absolute;
}
.story #place {
  background-image: url(../assets/lieuBg.png);
}
.story #place img {
  filter: blur(15px);
  position: absolute;
}
.story #place .bigCloud {
  top: 10%;
  left: 35%;
}
.story #place .smallCloud {
  top: 30%;
  left: 23%;
}

.oscarSection {
  padding-top: 110px;
}
.oscarSection::before {
  animation: rotate 8s linear infinite;
  content: url("../assets/Sunflower.png");
  position: relative;
  left: 1em;
  bottom: 10em;
  transform-origin: 78px 78px;
  box-sizing: border-box;
}
.oscarSection::after {
  content: url("../assets/orchid.png");
  position: relative;
  right: -6em;
  bottom: 12em;
  transform-origin: 80px 80px;
  box-sizing: border-box;
}

.site-footer::before {
  content: none !important;
}

.site-footer::after {
  content: none !important;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .banner .bannerContainer img {
    animation: parallaxe 3s infinite alternate;
  }
  .fadeInBottom {
    animation: fadeInBottom ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }
  .fadeInTop {
    animation: fadeInTop ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }
  .story {
    transform: translateY(250px);
  }
  .story h2::after {
    animation: rotate 8s linear infinite;
  }
  .story .story__article::after {
    animation: rotate 8s linear infinite;
  }
  .story #characters .main-character {
    transform: translateY(250px);
  }
  .story #characters .other-characters {
    transform: translateY(250px);
  }
  .story .place {
    transform: translateY(250px);
  }
  .studio {
    transform: translateY(250px);
  }
  .studio h2::before {
    animation: rotate 8s linear infinite;
  }
  .studio h2::after {
    animation: rotate 8s linear infinite;
  }
  .oscarSection {
    transform: translateY(250px);
  }
  .oscarSection::after {
    animation: rotate 8s linear infinite;
  }
  .slideTitle {
    animation: slideTitle linear 5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    overflow-y: hidden;
  }
}
@keyframes fadeInTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeInBottom {
  0% {
    transform: translateY(250px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideTitle {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes parallaxe {
  0% {
    transform: translate3d(0, 0, 20px);
  }
  20% {
    transform: translate3d(-15px, -15px, 0);
  }
  40% {
    transform: translate3d(-15px, 15px, 0);
  }
  60% {
    transform: translate3d(15px, 15px, 0);
  }
  80% {
    transform: translate3d(15px, -15px, 0);
  }
  100% {
    transform: translate3d(0, 0, 20px);
  }
}
@keyframes cloudsGoOnHolidays {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateY(60%);
  }
}/*# sourceMappingURL=theme.css.map */