// General
div#page {
    overflow: hidden;
}
// Including the videos with the specificities
.banner {
    background-image: none;
    min-height: 1px !important;
    .bannerContainer {
        max-width: 100%;
        width: 100%;
        height: 100%;
        video#bgcVdo {
            width: 100%;
            // animation: fadeInTop ease 3s;
            // animation-iteration-count: 1;
            // animation-fill-mode: both;
        }
        & img {
            position: fixed;
            top: 35%;
            left: 25%;
        }
    }
}

// NominationSection Style
.oscarSection {
    display: flex;
    .oscarContainer {
        display: flex;
        width: 66.66%;
        margin: auto;
        h3 {
            text-align: start;
            padding: 0;
            background-image: url(../assets/orange_characters_bg.png);
        }
        img {
            height: 129px;
        }
    }
}

// Flowers rotating
.story {
    h2::before {
        position: absolute;
    }
    h2::after {
        position: absolute;
        transform-origin: 77px 77px;
    }
    .story__article {
        &::before {
            position: absolute;
        }
    }
}

.oscarSection {
    padding-top: 110px;
    &::before {
        animation: rotate 8s linear infinite;
        content: url("../assets/Sunflower.png");
        position: relative;
        left: 1em;
        bottom: 10em;
        transform-origin: 78px 78px;
        box-sizing: border-box;
    }
    &::after {
        content: url("../assets/orchid.png");
        position: relative;
        right: -6em;
        bottom: 12em;
        transform-origin: 80px 80px;
        box-sizing: border-box;
    }
}

// And removing old flowers from old design
.site-footer::before {
    content: none !important;
}
.site-footer::after {
    content: none !important;
}

// Styling the swiper part
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

// Remove the animations for users who don't want them
@media (prefers-reduced-motion: no-preference) {
    .banner {
        .bannerContainer {
            &img {
                animation: parallaxe 3s infinite;
            }
        }
    }

    // Slide-in of the sections at loading
    .fadeInBottom {
        animation: fadeInBottom ease 1s;
        animation-iteration-count: 1;
        animation-fill-mode: both;
    }
    .fadeInTop {
        animation: fadeInTop ease 3s;
        animation-iteration-count: 1;
        animation-fill-mode: both;
    }
    .story {
        transform: translateY(250px);
        h2::after {
            animation: rotate 8s linear infinite;
        }
        .story__article {
            &::after {
                // position: absolute;
                animation: rotate 8s linear infinite;
            }
        }
        #characters {
            .main-character {
                transform: translateY(250px);
            }
            .other-characters {
                transform: translateY(250px);
            }
        }
        .place {
            transform: translateY(250px);
        }
    }
    .studio {
        transform: translateY(250px);
        h2 {
            &::before {
                animation: rotate 8s linear infinite;
            }
            &::after {
                animation: rotate 8s linear infinite;
            }
        }
    }
    .oscarSection {
        transform: translateY(250px);
        &::after {
            animation: rotate 8s linear infinite;
        }
    }

    // Slide in for the titles
    .slideTitle {
        animation: slideTitle ease 2s;
        animation-iteration-count: 1;
        animation-fill-mode: both;
    }
}

// All Keyframes
@keyframes fadeInTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fadeInBottom {
    0% {
        transform: translateY(250px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideTitle {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes parallaxe {
    0% {
        transform: translate3d(0, 100px, 50px);
    }
    25% {
        transform: translate3d(0, 50px, 20px);
    }
    50% {
        transform: translate3d(-20px, -50px, 0);
    }
    100% {
        transform: translate3d(-50px, -100px, 0);
    }
}
